include:
  - path: .docker/traefik/service.yml
  - path: .docker/postgres/service.yml
  - path: .docker/metabase/service.yml
  - path: .docker/studio/service.yml
  - path: .docker/analytics/service.yml
  - path: .docker/mailpit/service.yml

x-common: &common
  volumes:
    - ./:/code
  working_dir: /code
  user: 1000:1000

services:

  api:
    <<: *common
    image: oven/bun:1.3.3-alpine
    container_name: api
    init: true
    depends_on:
      traefik:
        condition: service_healthy
      postgres:
        condition: service_healthy
    command: [bun, --cwd, api, dev]
    environment:
      - FORCE_COLOR=1
    labels:
      traefik.enable: 'true'
      traefik.http.routers.api.rule: Host(`api.dev.localhost`)
      traefik.http.routers.api.entrypoints: websecure
      traefik.http.routers.api.tls: 'true'
      traefik.http.services.api.loadbalancer.server.port: '4000'

  app:
    <<: *common
    image: imbios/bun-node:1.3.3-24-alpine
    container_name: app
    init: true
    depends_on:
      - api
    command: [bun, --cwd, app, dev, --host, 0.0.0.0]
    environment:
      - FORCE_COLOR=1
    labels:
      traefik.enable: 'true'
      traefik.http.routers.app.rule: Host(`app.dev.localhost`)
      traefik.http.routers.app.entrypoints: websecure
      traefik.http.routers.app.tls: 'true'
      traefik.http.services.app.loadbalancer.server.port: '5173'

networks:
  default:
    name: dev
