x-common: &common
  working_dir: /app
  volumes:
    - ./:/app
  user: 1000:1000

services:
  server:
    <<: *common
    image: oven/bun:1-alpine
    command: [bun, --cwd, server, dev]
    ports:
      - 4000:4000

  client:
    <<: *common
    depends_on:
      - server
    image: imbios/bun-node:22-alpine
    command: [bun, --cwd, client, dev, --host, 0.0.0.0]
    ports:
      - 5173:5173
