x-common: &common
  working_dir: /app
  volumes:
    - ./:/app
  user: 1000:1000

services:
  api:
    <<: *common
    image: oven/bun:1-alpine
    command: [bun, --cwd, api, dev]
    ports:
      - 4000:4000

  app:
    <<: *common
    depends_on:
      - api
    image: imbios/bun-node:24-alpine
    command: [bun, --cwd, app, dev, --host, 0.0.0.0]
    ports:
      - 5173:5173
