services:
  mailpit:
    image: axllent/mailpit:v1.29.1
    container_name: mailpit
    depends_on:
      traefik:
        condition: service_healthy
    labels:
      traefik.enable: 'true'
      traefik.http.routers.mailpit.rule: Host(`mail.dev.localhost`)
      traefik.http.routers.mailpit.entrypoints: websecure
      traefik.http.routers.mailpit.tls: 'true'
      traefik.http.services.mailpit.loadbalancer.server.port: '8025'
